<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">Detalle del cobro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                  <strong>Nombre:</strong>
              </ion-col>
              <ion-col size="6">
                <label>Juan Perez</label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <strong>Monto:</strong>
              </ion-col>
              <ion-col size="6">
                <label>$ 50</label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <strong>Forma de Pago:</strong>
              </ion-col>
              <ion-col size="6">
                <label>Cheque</label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <strong>Dirección:</strong>
              </ion-col>
              <ion-col size="6">
                <label>Av. Loja 245</label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <strong>Teléfono:</strong>
            </ion-col>
            <ion-col size="6">
              <label>032789654</label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <strong>Celular:</strong>
              </ion-col>
              <ion-col size="6">
                <label>0857784573</label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <strong>Fecha:</strong>
              </ion-col>
              <ion-col size="6">
                <label>17/06/2019</label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <strong>Hora:</strong>
              </ion-col>
              <ion-col size="6">
                <label>15:30</label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <strong>Observaciones:</strong>
              </ion-col>
            </ion-row>
            <ion-row>
              <label>Retirar un cheque</label>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div align="right">
      <ion-button color="warning" routerLink="/geo">Ver Ubicación</ion-button>

      <ion-button slot="end">Cobrar</ion-button>
  </div>
  <br>
  <br>

</ion-content>
